@font-face {
    font-family: 'Doran VF';
    src: url('DoranVF.woff2') format('woff2'),
        url('DoranVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

