@font-face {
    font-family: 'IRANYekan';
    src: url('IRANYekan-Bold.woff2') format('woff2'),
        url('IRANYekan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekan';
    src: url('IRANYekan-Black.woff2') format('woff2'),
        url('IRANYekan-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

